.minimal-footer {
    background-color: #005469;
    padding: 1rem;
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 0.9rem;
    color: white;
    border-top: 1px solid #e0e0e0;
  }
  
  .minimal-footer p {
    margin: 0;
  }

